<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.example.user.androidlab">// 앱의 식별자 정보, 유일무이한 값 (단 그레이들 파일에 설정된 applicationId의 값과 일치할 것)
    <application  // 앱의 구성요소 등록을 위한 태그
        android:allowBackup="true"  // <application> 태그에 등록된 속성
        android:icon="@mipmap/ic_launcher" // 앱의 아이콘 이미지 명시
        android:label="@string/app_name"   // 앱의 이름 명시 속성 
        android:roundIcon="@mipmap/ic_launcher_round"  // XML 속성이 @로 지정 => res 하위폴더의 리소스 지칭
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">  // 앱에 액티비티 컴포넌트를 등록하기 위한 태그
            // <activity> = 액티비티 (태그당 하나) , <service> <provider>(컨텐츠 프로바이더) <receiver>(리시버 컴포넌트) 
            <intent-filter> // 사용자가 앱의 아이콘을 클릭했을 때 실행되는 액티비티 설정
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.Launcher"  />
            </intent-filter>
        </activity>
    </application>

</manifest>